@model NewStyleShop_1.Models.Product
@using NewStyleShop_1.Extension
@using Microsoft.AspNetCore.Http

@inject IHttpContextAccessor HttpContextAccessor
<div class="row">
    <div class="col-6">
        <h2 class="text-info">Product Details</h2>
    </div>
</div>


<form method="post">
    <div class="p-4 border rounded row">
        <div class="col-8">

            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Name"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Name" class="form-control" readonly />
                </div>
            </div>

            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Category.Name"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Category.Name" class="form-control" readonly />
                </div>
            </div>

            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Price"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Price" class="form-control" readonly />
                </div>
            </div>

            @if (Model.Quantity > 0)
            {
                <div class="form-group row">
                    <div class="col-4">
                        <label>Status: </label>
                    </div>
                    <div class="col-8">
                        <label><b>In Stock.</b></label>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Quantity"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Quantity" class="form-control" readonly />
                    </div>
                </div>
            }
            else
            {
                <div class="form-group row">
                    <div class="col-4">
                        <label>Status: </label>
                    </div>
                    <div class="col-8">
                        <label><b>Out Stock.</b></label>
                    </div>
                </div>
            }

            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Description"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Description" class="form-control" readonly />
                </div>
            </div>

            <div class="form-group row">
                <div class="col-4">

                </div>
                <div class="col-8">
                    @{
                        bool isInBag = false;
                        List<int> lstCart = HttpContextAccessor.HttpContext.Session.Get<List<int>>("ssShoppingCart");
                        if (lstCart != null && lstCart.Contains(Model.ID))
                        {
                            isInBag = true;
                        }
                    }
                    @if (isInBag)
                    {
                        <button type="submit" value="Remove From Bag" asp-action="remove" asp-route-id="@Model.ID" class="btn btn-danger form-control">Remove From Bag</button>

                    }
                    else
                    {
                        <button type="submit" value="Add to Bag" asp-route-id="@Model.ID" class="btn btn-primary form-control">Add to Bag</button>
                    }
                </div>
            </div>
        </div>
        <div class="col-1">

        </div>

        <div class="col-3">
            <img src="@Model.Image" width="100%" style="border-radius; border:1px solid #bbb9b9;" />
            <br />
            <br />
            @if (Model.Quantity > 0)
            {
                <img src="~/images/in-stock.jpg" width="50%" />
            }
            else
            {
                <img src="~/images/out stock.jpg" width="60%" />
            }
        </div>

        <div class="form-group">
            <input hidden asp-for="ID" />
            <a asp-action="Index" class="btn btn-success">Back to List</a>

        </div>
    </div>

</form>

